<section class="tab flexcol {{tabs.commitments.id}} {{tabs.commitments.cssClass}}"
         data-tab="{{tabs.commitments.id}}" data-group="{{tabs.commitments.group}}">
    <div class="sheet-section obligations">
        <h3>{{fields.details.fields.commitments.fields.obligations.label}}</h3>
    </div>

    <div class="sheet-section motivations">
        <h3>{{fields.details.fields.commitments.fields.motivations.label}}</h3>
    </div>

</section>