<section class="sheet-header flexcol">
    <header class="title flexrow">
        <input class="charname" name="name" type="text" value="{{source.name}}" placeholder="Actor Name">
        {{#if incomplete.creation}}
            <a class="button icon level-up fa-solid fa-triangle-exclamation incomplete" data-action="levelUp"
               data-tooltip="{{incomplete.creationTooltip}}" data-tooltip-class="creation-steps"></a>
        {{/if}}
        <div class="experience flexrow">
            <div  class="experience">Experience
            <span>{{progression.experience.available}}</span>
            /<span>{{progression.experience.total}}</span>
            </div>
        </div>
    </header>

    <div class="subtitle flexrow">
        <h2 class="species flexrow {{#if incomplete.species}}incomplete{{/if}}" data-action="editSpecies"
            {{#if incomplete.species}}data-tooltip="WALKTHROUGH.AddSpecies"{{/if}}>
            <a>{{#if incomplete.species}}<i class="fa-solid fa-circle-plus"></i> {{/if}}{{speciesName}}</a>
        </h2>
        <h2 class="career flexrow {{#if incomplete.career}}incomplete{{/if}}" data-action="editCareer"
            {{#if incomplete.career}}data-tooltip="WALKTHROUGH.AddCareer"{{/if}}>
            <a>{{#if incomplete.career}}<i class="fa-solid fa-circle-plus"></i> {{/if}}{{careerName}}</a>
        </h2>
        <h2 class="specialization flexrow {{#if incomplete.specialization}}incomplete{{/if}}"
            data-action="editSpecialization"
            {{#if incomplete.specialization}}data-tooltip="WALKTHROUGH.AddSpecialization"{{/if}}>
            <a>{{#if incomplete.specialization}}<i class="fa-solid fa-circle-plus"></i> {{/if}}{{specializationName}}
            </a>
        </h2>
        <h2 class="background flexrow {{#if incomplete.background}}incomplete{{/if}}" data-action="editBackground"
            {{#if incomplete.background}}data-tooltip="WALKTHROUGH.AddBackground"{{/if}}>
            <a>{{#if incomplete.background}}<i class="fa-solid fa-circle-plus"></i> {{/if}}{{backgroundName}}</a>
        </h2>
        {{#if actor.system.details.signatureName}}
            <h2 class="signature">{{actor.system.details.signatureName}}</h2>
        {{/if}}
        {{#if showMilestones}}
            <div class="advancement flexrow" data-tooltip="WALKTHROUGH.NextLevel">
                <div class="bar">
                    <div class="fill" style="width:{{actor.system.advancement.pct}}%"></div>
                </div>
                <input type="number" name="system.advancement.progress" value="{{actor.system.advancement.progress}}">
                <span class="slash"></span>
                <span class="input">{{actor.system.advancement.next}}</span>
            </div>
        {{/if}}
    </div>
</section>
