<section class="sheet-sidebar flexcol">
{{#if sidebarHeader}}
  <div class="sidebar-header">
    <input class="sidebar-name" name="name" type="text" value="{{sidebarHeader.name}}" placeholder="Actor Name">
    <div class="sidebar-profile-wrapper">
      <img class="profile" src="{{sidebarHeader.img}}" alt="{{sidebarHeader.name}}" width="200" height="200" data-action="editImage" data-edit="img">
      <div class="sidebar-profile-overlay">
        <div class="sidebar-resource wounds">
          <span class="label">{{localize "RESOURCES.WOUNDS"}}</span>
          <span class="value">{{sidebarHeader.wounds.value}}/{{sidebarHeader.wounds.threshold}}</span>
        </div>
        <div class="sidebar-resource strain">
          <span class="label">{{localize "RESOURCES.STRAIN"}}</span>
          <span class="value">{{sidebarHeader.strain.value}}/{{sidebarHeader.strain.threshold}}</span>
        </div>
      </div>
    </div>
  </div>
{{else}}
  <img class="profile" src="{{source.img}}" alt="{{source.name}}" width="200" height="200" data-action="editImage" data-edit="img" />
{{/if}}

  {{! Current Equipment }}
  <h2 class="section-header divider">{{localize "ACTOR.LABELS.CURRENT_EQUIPMENT"}}</h2>
  <div class="item-list equipped{{#if compactMode}} compact-mode{{/if}}">
    {{#each featuredEquipment as |e|}}
      <div class="equipped line-item {{e.cssClass}}{{#if ../compactMode}} equipped line-item--compact{{/if}}" data-item-id="{{e.id}}" data-item-type="{{e.type}}" data-item-slot="{{e.slot}}">
        <img class="icon" src="{{e.img}}" alt="{{e.name}}" />
        <div class="title">
          <h4 data-action="itemEdit" title="{{e.name}}"><a>{{e.name}}</a></h4>
          <div class="tags">
            {{#if e.restrictionBadge}}
              <span class="tag tag-restriction" data-restriction-level="{{e.restrictionLevel}}" data-tooltip="{{e.restrictionBadge.label}}">
                <i class="fa-solid fa-lock"></i>
              </span>
            {{/if}}
            {{#each e.tags}}
              <span class="tag" title="{{this}}">{{this}}</span>
            {{/each}}
          </div>
        </div>
        <div class="controls">
          <button type="button" class="icon-button" data-action="equipToggle" aria-label="{{localize 'EQUIPMENT.TOGGLE'}}">
            <i class="fa-solid fa-shuffle"></i>
          </button>
        </div>
      </div>
    {{else}}
      <div class="empty equipped-empty">{{localize 'EQUIPMENT.NO_EQUIPMENT'}}</div>
    {{/each}}
  </div>

  {{! Favorite Actions }}
  <h2 class="section-header divider">{{localize "ACTOR.LABELS.FAVORITE_ACTIONS"}}</h2>
  <div class="item-list actions">
    {{#each favoriteActions as |action|}}
      <div class="action line-item" data-action-id="{{action.id}}">
        <img class="icon draggable action-drag" src="{{action.img}}" alt="{{action.name}}" draggable="true" />
        <div class="title">
          <h4 data-action="actionUse"><a>{{action.name}}</a></h4>
          <div class="tags">
            {{#each action.tags as |label tag|}}
              <span class="tag {{tag}}">{{label}}</span>
            {{/each}}
          </div>
        </div>
      </div>
    {{/each}}
  </div>
</section>