<section class="tab secondary {{tabs.talents.id}} flexcol scrollable {{tabs.talents.cssClass}}"
         data-tab="{{tabs.talents.id}}" data-group="{{tabs.talents.group}}">

    {{log "Talents in ActorSheet" talents}}
    {{#each talents as |talent s|}}
        <div class="line-item {{talent.cssClass}}" data-item-id="{{talent.id}}">
            <div class="title">
                <img class="icon" src="{{talent.img}}" alt="{{talent.name}}">
                <h4 class="item-header">{{talent.name}}</h4>
                <div class="tags">
                    {{#each talent.tags as |tag i|}}
                        {{log "index" i "tags" talent.tags}}
                        <span class="tag {{tag.cssClass}}" data-tooltip="{{tag.tooltip}}">{{tag.label}}</span>
                    {{/each}}
                </div>
            </div>
            <div class="controls">
                <a class="button icon fa-solid fa-edit" data-action="itemEdit"
                   data-tooltip="Edit Talent"></a>
                {{#unless talent.isFree}}
                    <a class="button icon fa-solid fa-trash" data-action="itemDelete"
                       data-tooltip="Delete Talent"></a>
                {{/unless}}
            </div>
        </div>
    {{/each}}
</section>
