<section
  class="tab secondary {{tabs.talents.id}} flexcol scrollable {{tabs.talents.cssClass}}"
  data-tab="{{tabs.talents.id}}"
  data-group="{{tabs.talents.group}}"
>
  <div class="talent-navigation">
    <button type="button" class="talent-navigation__button" data-action="talentTree">
      <i class="fa-solid fa-diagram-project" aria-hidden="true"></i>
      <span>{{specializationTreeButtonLabel}}</span>
    </button>
  </div>

  {{#each talents as |talent|}}
    <article class="line-item talent-consolidated" data-talent-id="{{talent.talentId}}">
      <div class="talent-consolidated__header">
        <div class="talent-consolidated__title-group">
          <h4 class="item-header talent-consolidated__name">{{talent.name}}</h4>
          {{#each talent.tags as |tag|}}
            <span class="tag {{tag.cssClass}} talent-consolidated__tag">{{tag.label}}</span>
          {{/each}}
        </div>
      </div>

      <div class="talent-consolidated__details">
        {{#if talent.isRanked}}
          <div class="talent-rank">
            <span class="talent-rank__label">{{localize 'SWERPG.TALENT.RANK'}}:</span>
            <span class="talent-rank__value">{{talent.rank}}</span>
          </div>
        {{/if}}

        <div class="talent-sources{{#if talent.hasDegradedSources}} has-degraded-sources{{/if}}">
          <span class="source-label">{{localize 'SWERPG.TALENT.SOURCES'}}:</span>
          <span class="source-values">
            {{#each talent.sources as |source|}}
              <span class="source-name {{source.cssClass}}">{{source.label}}</span>{{#unless @last}}<span class="source-separator">, </span>{{/unless}}
            {{/each}}
          </span>
        </div>
      </div>
    </article>
  {{/each}}
</section>
