<section
  class="tab secondary {{tabs.talents.id}} flexcol scrollable {{tabs.talents.cssClass}}"
  data-tab="{{tabs.talents.id}}"
  data-group="{{tabs.talents.group}}"
>

  {{#each talents as |talent|}}
    <div class="line-item talent-consolidated" data-talent-id="{{talent.talentId}}">
      <div class="title">
        <h4 class="item-header">{{talent.name}}</h4>
        <div class="tags">
          {{#each talent.tags as |tag|}}
            <span class="tag {{tag.cssClass}}">{{tag.label}}</span>
          {{/each}}
        </div>
      </div>
      <div class="talent-rank">
        {{#if talent.isRanked}}
          {{talent.rank}}
        {{/if}}
      </div>
      <div class="talent-sources">
        <span class="source-label">{{localize 'SWERPG.TALENT.SOURCES'}}:</span>
        {{#each talent.sourceLabels as |source i|}}
          <span class="source-name">{{source}}{{#unless @last}}, {{/unless}}</span>
        {{/each}}
      </div>
    </div>
  {{/each}}
</section>