<section class="tab sheet-body flexcol {{tabs.config.cssClass}} scrollable"
         data-tab="{{tabs.config.id}}" data-group="{{tabs.config.group}}">

    <fieldset {{fieldDisabled}}>
        <legend>{{localize "CAREER.FIELDS.FreeSkill"}}</legend>
        {{formField fields.freeSkillRank value=source.system.freeSkillRank localize=true}}
    </fieldset>

    <fieldset {{fieldDisabled}}>
        <legend>{{localize "CAREER.FIELDS.Skills"}}</legend>
        {{#each careerSkills as |skill|}}
            <span class="career">{{skill.label}}</span>
        {{/each}}
    </fieldset>

</section>