<section class="tab sheet-body flexcol {{tabs.config.cssClass}} scrollable"
         data-tab="{{tabs.config.id}}" data-group="{{tabs.config.group}}">

    <fieldset {{fieldDisabled}}>
        <legend>{{localize "CAREER.FIELDS.FreeSkill"}}</legend>
        {{formField fields.freeSkillRank value=source.system.freeSkillRank localize=true}}
    </fieldset>

    <fieldset {{fieldDisabled}}>
        <legend>{{localize "CAREER.FIELDS.Skills"}} ({{selectedSkills}})</legend>
        <div class="careers">
            {{#each careerSkills as |skill|}}
                <p class="career {{skill.extraCss}}" data-action="toggleCareer" data-action-id="{{skill.id}}"
                   data-action-is-active="{{skill.isActive}}">{{localize skill.label}}</p>
            {{/each}}
        </div>
        <p class="message hint">{{localize "CAREER.SHEET.CareerSkills.maxNumber"}}</p>
    </fieldset>

</section>