<div class="skill {{ui.lineCssClass}}"
     data-skill-id="{{id}}"
     data-hover-action="skillPreview">
  <div class="skill__info">
    <span class="skill__label">{{label}}</span>
    <span class="skill__characteristic">({{characteristics.abbreviation}})</span>
  </div>
  <div class="skill__marker">
    {{#if freeRank.isCareer}}
      <span class="skill-marker skill-marker--career"
            data-tooltip="{{localize 'SKILL.MARKER.CAREER'}}">C</span>
    {{/if}}
    {{#if freeRank.isSpecialization}}
      <span class="skill-marker skill-marker--specialization"
            data-tooltip="{{localize 'SKILL.MARKER.SPECIALIZATION'}}">S</span>
    {{/if}}
  </div>
  <div class="skill__action skill__action--increase {{#if (eq ui.increaseState 'INSUFFICIENT_XP')}}is-blocked{{/if}}">
    {{#if (eq ui.increaseState 'FREE_RANK_AVAILABLE')}}
      <img src="systems/swerpg/assets/images/icons/free.svg" alt="" aria-hidden="true"
           data-tooltip="{{localize 'SKILL.INCREASE.FREE_TOOLTIP'}}">
    {{else if (eq ui.increaseState 'MAX_RANK')}}
      <span class="increase-badge increase-badge--max">M</span>
    {{else if nextCost}}
      <img src="systems/swerpg/assets/images/icons/increase.svg" alt="" aria-hidden="true"
           data-tooltip="{{localize 'SKILL.INCREASE.COST_TOOLTIP' cost=nextCost}}">
    {{/if}}
  </div>
  <div class="skill__action skill__action--decrease {{ui.decreaseState}}">
    <img src="systems/swerpg/assets/images/icons/decrease.svg" alt="" aria-hidden="true"
         class="is-disabled"
         data-tooltip="{{localize 'SKILL.DECREASE.PENDING'}}">
  </div>
  <div class="skill__rank">
    <span class="skill-rank-value">{{rank.value}}/5</span>
  </div>
  <div class="skill__dice-preview" data-tooltip="{{localize 'SKILL.DICE_PREVIEW_TOOLTIP'}}">
    {{#each dicePreview.proficiency}}<span class="die die--proficiency"></span>{{/each}}
    {{#each dicePreview.ability}}<span class="die die--ability"></span>{{/each}}
  </div>
  <div class="pips flexrow" data-action="toggleTrainedSkill">
    {{#each pips as |pip|}}
      <div class="pip {{pip.cssClass}}"></div>
    {{/each}}
  </div>
</div>
