{{log "Skill" this}}
<div class="skill flexrow" data-skill-id="{{id}}" data-is-career="{{freeRank.isCareer}}" data-is-specialization="{{freeRank.isSpecialization}}">
    <div class="name flexrow">
        <span class="label">{{label}}</span>
        <span class="abbreviation">({{characteristics.abbreviation}})</span>
    </div>
    <div class="career">
        <span class="career-and-speciality {{freeRank.extraCss}}" data-tooltip="{{freeRank.name}}">&nbsp;</span>
    </div>
    <div class="pips flexrow" data-action="toggleTrainedSkill">
        {{#each pips as |pip|}}
            <div class="pip {{pip.cssClass}}"></div>
        {{/each}}
    </div>
</div>
