<div class="skill flexrow" data-skill-id="{{id}}">
    <div class="name flexrow">
        <span class="label">{{label}}</span>
        <span class="abbreviation">({{characteristics.abbreviation}})</span>
    </div>
    <div class="career">
        <span class="label" data-tooltip="{{career.name}}">{{career.label}}</span>
    </div>
    <div class="pips flexrow" data-action="toggleTrainedSkill">
        {{#each pips as |pip|}}
            <div class="pip {{pip.cssClass}}"></div>
        {{/each}}
    </div>
</div>
