<section class="tab sheet-body {{tab.cssClass}}" data-tab="description" data-group="primary">
    {{!-- Description --}}
    {{formGroup fields.description value=source.description enriched=enriched.description toggled=true}}

    {{!-- Category --}}
    {{formGroup fields.category value=source.category}}

    {{!-- Sources --}}
    <fieldset>
        <legend>{{localize "SWERPG.Source"}}</legend>
        {{#each source.sources as |src idx|}}
            <div class="flexrow">
                {{formInput ../fields.sources.element.fields.book value=src.book name=(concat "sources." idx ".book") placeholder=(localize "SWERPG.Book")}}
                {{formInput ../fields.sources.element.fields.page value=src.page name=(concat "sources." idx ".page") placeholder=(localize "SWERPG.Page")}}
            </div>
        {{/each}}
    </fieldset>
</section>
